<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My CV</title>
    <link rel="stylesheet" href="{{url_for('static',filename='styles/Task1.css')}}">
</head>
<body>
    <div class="container">
            <div class="profile-text">
                <div class="imagebox">
                    <img src="/static/image2.jpeg">
                </div>
                <h2>Aya Ibrahim Zaki<br><span>Web developer</span></h2>
            </div>
            <div class="Education">
                <h3>Education : </h3>
                <ul>
                   <li>2020-2024</li>
                    <li>Bachelor's degree  in Computer Science & Artificial Intelligence</li>
                    <li>Bani Suef University</li>
                </ul>
            </div>
            <div class="courses">
                <h3>Courses : </h3>
                <ul>
                   <li>C++</li>
                    <li>Object Oriented Programming</li>
                    <li>Web Development</li>
                </ul>
            </div>
            <div class="skills">
                <h3>Skills : </h3>
                <ul>
                    <li>Problem solving</li>
                    <li>Team work</li>
                    <li>Hard working and resposibility</li>
                </ul>
            </div>
            <div class="experiance">
                <h3> Experiance : </h3>
                <ul> 
                  <li>Health Management System Intership in 57357 (HIS) : <a href="57357.pdf" target="_blank">Certificate</a></li>
                  <li>Microsoft Freelancing course : <a href="microsoft_certificate.pdf" target="_blank">Certificate</a></li>
                </ul>
            </div>

            <div class="languages">
                <h3>Languages : </h3>
                <ul>
                   <li>Arabic</li>
                    <li>English</li>
                </ul>
            </div>
            <div class="aud">
                <h3>Introducing myself : </h3>
                <audio controls>
                    <source src="introduce.mp3"type="audio/mpeg">
                </audio>
            </div>
                <div class="ContactInfo">
                    <h3 class="tittle"> Contact Info : </h3>
                    <ul>
                        <li>
                            <span class="icon"></span>
                            <span class="text">Phone Number : 01149318258</span>
                        </li>
                        <li>
                            <span class="icon"></span>
                            <a href=" mailto:ayai36726@gmail.com" target="_blank">Gmail</a>
                            
                        </li>
                        
                       
                    </ul>
                </div>
          
            <div class="address"> 
                <ul class="add"><h3>Address :  </h3> 
                    <li class="egy">Egypt
                      <ul>
                        <li class="Bani">Bani_Suef</li>
                    </ul>     
                    </li>  
                </ul>
            </div>

          


     </div>
       
  
   
</body>
</html>